@{
  Layout="Shared/_Layout.cshtml";
}
<h2>Allergies</h2>
<form action="/results">
  <label for="score">Enter your score: </label>
  <input name="score" id="score" type="number">

  <button type="submit" class="btn btn-md btn-primary">Submit</button>
</form>
